a {
  color: #333;
  text-decoration: none; }
  a:hover {
    opacity: .7; }

body {
  font-family: "Source Han Sans SC", "Helvetica Neue", -apple-system, system-ui, "PingFang SC", "Microsoft YaHei", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; }
