#container {
  max-width: 980px;
  margin: 90px 180px 30px;
  padding: 0 15px; }
  @media screen and (max-width: 1024px) {
    #container {
      margin: 20px 0px; } }

#panel {
  background-color: white; }
